*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}

/* Header style */

.header{
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    text-align: right;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-bottom: 100px;
}

/* Header banner style */

.banner{
    padding-top: 150px;
    padding-right: 100px;
}
.banner-title{ 
    color: #fff;
    font-weight: 700;
    font-size: 65px;
    margin-left: 700px;
    margin-bottom: 20px; 
}
.banner-description{
    
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin-left: 800px;
    margin-bottom: 30px;
}
.btn-primary{
    background: #fff;
    color: #005FAC; 
    font-weight: 600;
    font-size: 17px;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
}
.btn-primary:hover{
    color: rgba(0, 0, 0, 0.89);
    background: rgba(135, 207, 235, 0.767);
}

/* Main section style */

.main-section{
    display: flex;
    margin-bottom: 100px;
}
.photo{
    height: 600px;
    margin-left: 150px;
}
ul li{
    list-style: none;
    margin-bottom: 7px;
}
ul li:before {
    content: '✓';
    color: green;
    margin-right: 10px;
  }
.section-2{
    padding: 200px 150px 100px 100px;
}
.section-2-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 25px;
}
.section-2-description{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 20px;
}

/* Sub section style */

.sub-section-head{
    text-align: center;
}
.sub-section-title{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
}
.container{
    display: flex;
    margin-left: 150px;
    margin-bottom: 150px;
    
}
.sub-section-container{
    height: 200px;
    width: 100px;
    margin-right: 200px;
     
}
.container-title{
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
.container-description{
    
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}

/* Contact container style */

.contact-container{
    background: url(images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 100px;
    margin-left: 150px;
}
.contact{
    padding-top: 60px;
    padding-left: 50px;
} 
.contact-title{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    margin-right: 600px;
    margin-bottom: 25px;
}

/* Footer section style */

.footer{
    display: flex;
    background: #151414;
    height: 550px;
}
.footer-section{
    color: #fff;
}
.footer-info{
    margin-bottom: 30px;
}
.footer-title{
    font-weight: 600;
    font-size: 40px;
    padding: 150px 0 20px 150px;
    
}
.footer-description{
    font-weight: 400;
    font-size: 15px;
    padding: 0 300px 20px 150px;
}
.footer-icons{
    padding-left: 150px;
}
img{
    padding-right: 17px;
}

/* Form style */

.form-section{
    padding: 150px 200px 200px 0;
}
.info-title{
    color: #fff;
    font-weight: 600px;
    font-size: 25px;
    margin-bottom: 30px;
}
input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 15px;
    padding-left: 10px;
}
.btn-secondery{
    font-weight: 400px;
    font-size: 15px;
    color: #fff;
    background: #005FAC;
    height: 55px;
    width: 100px;
    border: 0;
    border-radius: 5px;
}
.btn-secondery:hover{
    color: #005FAC;
    background: #fff;
}
